services:
  bot:
    build: .
    restart: always
    volumes:
      - ./files:/app/files
    env_file: "secrets.env"
    logging:
      driver: "json-file"
      options:
        max-size: "10M"
        max-file: "2"